@model IEnumerable<Sessie>

@{
    ViewData["Title"] = "Sessie selecteren";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sessienaam</th>
            <th scope="col">Startdatum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sessie in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td><a asp-controller="Groep" asp-action="Index" asp-route-id="@sessie.Naam">@sessie.Naam</a></td>
                <td>@sessie.Startdatum</td>
            </tr>}
    </tbody>   
</table>