/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*
-----------------------    
    eigen code
-----------------------
                        */

/**/


body {
    position: relative;
    margin: 0;
    background-color: #efefef;
}

.navbar {
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

    .navbar navbar-expand-lg navbar-dark {
        min-height: 10vh;
    }

nav form {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-size: 1.5rem;
    margin: 10px 10px;
    padding: 10px 10px;
    position: relative;
}

.contijner {
    margin: 0 auto;
    padding: 1.5em 2em;
    text-align: center;
}

nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.contijner a:hover {
    color: #FFF;
}

.topBotomBordersOut a:before, div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after {
    color: #FFF;
    opacity: 1;
    transform: translateY(0px);
}

footer {
    padding: 5em;
    background-color: rgba(96,125,139,1);
    color: white;
    -webkit-box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    text-align: center;
}

.jumbotron {
    color: white;
    text-align: center;
    background: transparent;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.jumbocard {
    display: block;
    padding: 25px;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
}

    .jumbocard p {
        width: 60%;
        margin: 0 auto;
    }

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1em 0;
}

.table {
    margin: 5em auto;
    width: 100%;
}

tr {
    background-color: #fff;
    transition: 0.2s;
}

    tr:hover {
        background-color: #efefef;
        cursor: pointer;
    }

.material-icons {
    color: white;
}

.sessies {
    padding: 2em;
    margin: 3em auto;
}

.textback {
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 1.5em;
}

.sessiebar {
    float: right;
    margin: 4em 0 0 0;
    background-color: rgba(96,125,139,0.9);
    width: 200px;
    padding: 1em;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input, .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: white;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    color: white;
}

.circle {
    margin: 1em auto;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    background: #00796B;
    border: 6px solid #80CBC4;
    transition-duration: 0.3s;
}

    .circle:hover {
        border: 6px solid #B2DFDB;
    }

.klas {
    width: 100%;
    color: white;
    font-size: 16px;
    color: black;
}

.circlecard {
    display: block;
    width: 200px;
    background: rgba(236,239,241,0.5);
    padding: 25px;
    border-radius: 15px;
    margin: 1em auto;
}

.groepen {
    clear: both;
    margin: 10em auto;
}

.onderbuttontje {
    margin: 50px 0 0 0px;
}

a {
    color: black;
    text-decoration: none;
    transition-duration: .3s;
}

    a:focus {
        outline: 0;
    }

    a:hover {
        color: black;
        text-decoration: none;
    }

.gamescherm {
    background-image: url(../images/shattered-island.gif);
    background-color: slategrey;
    padding: 8em;
    color: white;
    text-align: center;
    -webkit-box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
    box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
}

.voortgang {
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 2em 100px;
    font-size: 18px;
    width: 100%;
}

.progress {
    margin: 1em 0;
}

.sessiecard.mdl-card {
    margin: 5em auto;
    width: 512px;
}

.sessiecard > .mdl-card__title {
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.oefeningen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.oefcard.mdl-card {
    width: 512px;
}

.oefcard > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/shattered-island.gif') center / cover;
}
.feedback {
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logcard.mdl-card {
    width: 512px;
    margin: 6em auto;
}

.logcard > .mdl-card__title {
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.grpcard.mdl-card {
    width: 80%;
    margin: 0 auto;
    opacity: 1;
}

.grpcard > .mdl-card__title {
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

form {
    margin-top: 1em;
}

.loungecard > h2 {
    width: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 1em;
    margin: 0 0 1em 0;
}

.login {
    width: 50%;
    margin: 0 auto;
}

.lounge {
    background: url('../images/subway-lines.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.loungecard {
    opacity: 1;
    padding: 0 0 4em 0;
    background: url('../images/shattered-island.gif') center;
    margin: 50px auto;
    width: 100%;
}

#sessieName {
    width: 80%;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border-bottom: 2px solid white;
}

.wachten {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spinner.mdl-spinner {
    margin: 0 25px 0 0;
}

@media (min-width: 768px) {
    nav form {
        margin: 0;
        display: block;
        flex-direction: unset;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 90vh;
    }

    .loungecard {
        width: 75%;
    }

    h1 {
        font-size: 5rem;
    }

    .table {
        width: 75%;
    }

    .sessiecard.mdl-card {
        width: 75%;
    }
}

.slider > img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.chest {
    position: absolute;
}
.chest:hover {
    opacity: 0;
}
.schatkist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 10em 0;
    background-color: #FFF;
}