/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*
-----------------------    
    eigen code
-----------------------
                        */

/**/
body {
}

.navbar {
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.21);
    background-color: rgba(96,125,139,1);
    padding: 1em;
}

footer {
    padding: 5em;
    background-color: rgba(96,125,139,1);
    color: white;
    -webkit-box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    box-shadow: inset 0px 8px 17px -6px rgba(0,0,0,0.31);
    text-align:center;
}

.jumbotron {
    color: white;
    text-align: center;
    background-color: rgba(96,125,139,0.8);
    background-image: url(../images/asteroids.jpg);
    width: 100%;
    height: 100%;
    height: 100vh;
    position: relative;
}

.jumbocard {
    display: block;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    background-color: rgba(96,125,139,0.8);
    padding: 50px;
    border-radius: 15px;
}

h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1em 0;
}

.table {
    margin: 3em 0;
}

tr:hover {
    background-color: #efefef;
}

.material-icons {
    color: white;
}

.sessies {
    padding: 2em;
}

.secties h2 {
    margin: 3em 0;
}

.sessiebar {
    float: right;
    margin: 5em 0;
    background-color: #607D8B;
    width: 250px;
    padding: 1em; 5em;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input, .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: white;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    color: white;
}

.circle {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #00796B;
    border: 5px solid #80CBC4;
    transition-duration: 0.3s;
}

    .circle:hover {
        border: 5px solid #B2DFDB;
    }

.klas {
    position: absolute;
    z-index: 1;
    display: block;
    top: 90px;
    left: 88px;
    right: 100px;
    width: 100%;
    color: white;
    cursor: default;
    font-size: 16px;
}

.circlecard {
    display: block;
    width: 200px;
    position: relative;
    background: rgba(236,239,241,0.5);
    padding: 25px;
    border-radius: 25px;
    margin: 1em 0;
}

.groepen {
    margin: 2em 0;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

    a:focus {
        outline: 0;
    }

    a:hover {
        color: black;
        text-decoration: none;
    }

.gamescherm {
    background-image: url(../images/shattered-island.gif);
    background-color: slategrey;
    padding: 8em;
    color: white;
    text-align: center;
    -webkit-box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
    box-shadow: inset 0px -18px 64px -34px rgba(0,0,0,0.75);
}
.voortgang {
    background-color: rgba(96,125,139,1);
    padding: 1em 100px;
    width: 100%;
    color: white;
}
iframe {
    height: 100vh;
    width: 100%;
    padding: 5em;
}
.oefcard.mdl-card {
    width: 512px;
    margin: 5em auto;
}

.oefcard > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/shattered-island.gif') center / cover;
}

form{
    margin-top: 80px;
    
}