@using Microsoft.CodeAnalysis.CSharp.Syntax
@model BreakOutBoxAuth.Models.ActionViewModel.ActionViewModel

<div>
    @if (Model.IsSchatkist)
    {
        <form method="post" action="/Groep/Action/@Model.Groep.Id">
            <h3>Actie</h3>
            <p>@Model.Opgave</p>
            <div>
                <input asp-for="Toegangscode" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Controlleer</button>
            </div>
        </form>
    }
    else
    {
        <form method="post" action="/Groep/Action/@Model.Groep.Id">
            <h3>Actie</h3>
            <p>@Model.Pad.ActieNaamNavigation.Opgave</p>
            <div>
                <input asp-for="Toegangscode" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Controlleer</button>
            </div>
        </form>
    }
    
</div>