@using BreakOutBoxAuth.Models.Domain
@model BreakOutBoxAuth.Models.OefeningViewModel.FeedbackViewModel
<meta http-equiv="refresh" content="10" />
<div class="gamescherm">
    <div class="container">
        <h1>Gamescherm</h1>
        <h2>@Model.Groep.Naam | Geblokkeerd</h2>
        <h3>Uw Feedback</h3>
        <a href="#oef" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>

<div id="oef">
    <iframe src="~/docs/@(Model.Feedback)" type="application/pdf" width="500" height="700"></iframe>
</div>

@if(@Model.Groep.Currentstate.GetStateEnum() != State.BLOK)
{
    <a class="btn btn-primary" asp-controller="Groep" asp-action="StartDirect" asp-route-id="@Model.Groep.Id" role="button">Ga door</a>

}
else
{
    <p>Je kan nog niet doorgaan</p>
}