@model BreakOutBoxAuth.Models.OefeningViewModel.FeedbackViewModel
<meta http-equiv="refresh" content="5" />
<div class="gamescherm">
    <div class="container">
        <h1>Gamescherm</h1>
        <h2>@Model.Groep.Naam | Geblokkeerd</h2>
        <h3>Uw Feedback</h3>
        <a href="#oef" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>

<div id="oef">
    <iframe src="~/docs/@(Model.Feedback)" type="application/pdf" width="500" height="700"></iframe>
</div>

<a class="btn btn-primary"  Visible=@ViewData["Contactleer"]?false:true role="button">Ga door</a>