@model BreakOutBoxAuth.Models.OefeningViewModel.FeedbackViewModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <iframe src="~/docs/@(Model.Feedback)" type="application/pdf" width="500" height="700"></iframe>
</div>
</body>
</html>