@using BreakOutBoxAuth.Models.Domain
@model BreakOutBoxAuth.Models.OefeningViewModel.FeedbackViewModel
<meta http-equiv="refresh" content="10" />
<div class="gamescherm">
    <div class="container">
        <h1>Gamescherm</h1>
        <h2>@Model.Groep.Naam | Geblokkeerd</h2>
        <h3>Uw Feedback</h3>
        <a href="#oef" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>
<div class="textback"  id="oef">
    <h2 class="container">STATUS</h2>
</div>
<div class="container">
    <section class="feedback">
        @if (@Model.Groep.Currentstate.GetStateEnum() != State.BLOK)
        {
            <h3 class="text-center">Je kan doorgaan!</h3>
            <div><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent text-center" asp-controller="Groep" asp-action="StartDirect" asp-route-id="@Model.Groep.Id" role="button">Ga door</a></div>

        }
        else
        {
            <h3 class="text-center">Je kan nog niet doorgaan</h3>
        }
    </section>
    <iframe src="~/docs/@(Model.Feedback)" type="application/pdf" width="500" height="700" style="margin-bottom: 2em;"></iframe>
</div>
