<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="jumbocard">
            <h1>Hoera je hebt de schatkist gevonden!</h1>
            <a asp-controller="Sessie" asp-action="Index" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">keyboard_arrow_down</i>
            </a>
        </div>
    </div>
    
</div>
