@model breakoutbox.Models.OefeningViewModel.AntwoordViewModel

<div>
    <form method="post">
        <h3>@Model.Oefening.Naam</h3>
        <p>@Model.Oefening.Opgave</p>
        <div>
            <input asp-for="Antwoord" class="form-control"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Beantwoord</button>
        </div>
    </form>
</div>