@model breakoutbox.Models.OefeningViewModel.AntwoordViewModel
<div>
    <form method="post" action="/Groep/Start/@Model.Groep.Id">
        <h3>@Model.Pad.OefeningNaamNavigation.Naam</h3>
        <p>@Model.Pad.OefeningNaamNavigation.Opgave</p>
        <p>@Model.Pad.GroepsbewerkingNaamNavigation.Opgave</p>

        <iframe src="~/docs/@(Model.Pad.OefeningNaamNavigation.Opgave)" type="application/pdf" width="500" height="700"></iframe>
        <div>
            <input value="" asp-for="Antwoord" class="form-control"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Beantwoord</button>
        </div>
    </form>
</div>