@model breakoutbox.Models.Domain.Groep

@{
    ViewData["Title"] = "Groepen";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
@*    @foreach (var groep in Model)*@
    
        <tr>
            <td>
                @Model.Naam
            </td>
            @foreach (var pad in Model.Paden)
            {
                @pad.Value.Oefening.Naam
            }
        </tr>
@*    }*@
</table>