@model breakoutbox.Models.Sessie

@{
    ViewData["Title"] = Model.Naam;
}


<h2>Groep selecteren</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">naam</th>
            <th scope="col">Klas</th>
            <th scope="col">Contactleer</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groep in Model.SessieGroep)
        {
            <tr>
                <td>@groep.Groepen.Naam</td>
                <td>@groep.Groepen.Klas</td>
                <td><input type="checkbox" disabled="true" checked="@groep.Groepen.Contactleer? true: false "/></td>
                <td><a asp-controller="Groep" asp-action="Start" asp-route-id="@groep.Groepen.Id"><button type="button" class="btn btn-secondary">Start</button></a></td>
            </tr>}
     </tbody>
</table>
<a asp-controller="Sessie" asp-action="Index">Back</a>